<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <!-- Database connection settings -->
        <property name="hibernate.connection.driver_class">org.hsqldb.jdbcDriver</property>
        <property name="connection.url">jdbc:hsqldb:file:{mem}:html_indexer</property>

        <!-- Echo all executed SQL to stdout -->
        <property name="show_sql">false</property>

        <!-- Drop and re-create the database schema at startup -->
        <property name="hbm2ddl.auto">create</property>

        <!-- Mappings -->
        <mapping resource="pl/edu/agh/ki/bd/htmlIndexer/model/Sentence.hbm.xml"/>
        <mapping resource="pl/edu/agh/ki/bd/htmlIndexer/model/ProcessedUrl.hbm.xml"/>
        <mapping resource="pl/edu/agh/ki/bd/htmlIndexer/model/Word.hbm.xml"/>
        <mapping resource="pl/edu/agh/ki/bd/htmlIndexer/model/WordSentence.hbm.xml"/>

    </session-factory>
</hibernate-configuration>




